<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Integer varius condimentum pharetra. Quisque non porta dui.
    Ut sit amet est ut est aliquam ultrices in sit amet magna.
    <text-field
      name="Full Name"
      role="First Party"
      required="true"
      style="width: 80px; height: 20px; display: inline-block; margin-bottom: -4px"
    ></text-field>
    Donec eu odio auctor, tempus lacus nec, viverra urna.
    In malesuada hendrerit diam, eu dictum quam facilisis vel.
  </p>
  <signature-field
    style="width: 160px; height: 80px; display: inline-block; margin-bottom: -10px">
  </signature-field>
  <select-field
    name="Select"
    role="First Party"
    required="true"
    options="Junior Dev,Senior Dev"
    style="width: 120px; height: 30px; display: inline-block; margin-bottom: -10px">
  </select-field>
  Signed at:
  <date-field
    role="First Party"
    required="true"
    style="width: 120px; height: 30px; display: inline-block; margin-bottom: -10px">
  </date-field>
</body>
</html>