/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --color-background: #e6e3e3e0;
  --color-backgrounds: #c9c9c917;
  /* --color-backgrounds:  #00000000; */

  --color-text: #2c3e50;

  --primary-color: #096CF8;

  --sidebar-bg: #212935
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline: none;
}

/* html * {
  font-family:
    'Manrope', 'Encode Sans Semi Condensed', sans-serif;
} */

body {
  min-height: 100vh;
  color: var(--color-text);
  /* background: var(--color-backgrounds); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}