@import './base.css';

/* input:focus, */
select:focus,
/* textarea:focus, */
button:focus,
.vue-tel-input,
.page-link:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.error-field,
.error-field .vs__search {
    border: 1px solid red;
}


.vs__search {
    line-height: 1.81rem !important;
    border: 0px !important;
}

.v-select, .v-select * {
    line-height: 1.7rem !important;
}

.vs__search:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.vs--single {
    &:not(.vs--open) .vs__selected+.vs__search {
        width: 0;
        padding: 0;
        margin: 0;
        border: none;
        height: 0;
    }

    .vs__selected-options {
        width: 0;
    }

    .vs__selected {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
    }
}


/* remove tiny mark at bottom left of textareas */
textarea {
    resize: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}


.section {
    margin-bottom: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.line-right {
    border-right: 1px solid #c5c0c0;
    /* padding-right: 10px; */
}

/* th {
    background-color: var(--bs-gray-200) !important;
} */

.everything-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav tabs ############################################### */
.nav-link {
    border: none !important;
    /* background-color: transparent !important; */
}

.nav-link, .nav-link:hover {
    color: #7C8493;
}



@media (max-width: 767px) {
    .nav-link {
        font-size: 13px;
    }
}

.easy-data-table {
    --easy-table-body-row-height: 55px;
    /* --easy-table-header-background-color: var(--bs-gray-200); */
    --easy-table-header-height: 55px;
    --easy-table-footer-height: 55px;
    --easy-table-body-row-hover-background-color: transparent;
}

/* .vue3-easy-data-table__body td.expand[data-v-32683533] {
    background-color: #eee !important;
} */


.buttons-pagination .item.button.active {
    background-color: var(--bs-secondary) !important;
    border: none !important;
    /* border-left: var(--easy-table-buttons-pagination-border); */
    /* border-color: var(--40dd4f07)!important; */
}

tbody tr:hover {
    background-color: transparent !important;
}

.xsmall {
    font-size: 12px;
}