@import './base.css';

input:focus,
select:focus,
textarea:focus,
button:focus,
.vue-tel-input,
.page-link:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

/* remove tiny mark at bottom left of textareas */
textarea {
    resize: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}


section {
    margin-bottom: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.line-right {
    border-right: 1px solid #c5c0c0;
    /* padding-right: 10px; */
}

th {
    font-weight: bold;
    background-color: var(--bs-gray-200) !important;
}