@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng|MingLiU|monospace&display=swap');
body{
    display:flex;
     flex-direction:column; 
     justify-content:center;
    background: rgb(82, 86, 89);
}

.main{
    margin:10px auto;
    padding:40px;
   display:flex;
   border: 1px solid rgb(90, 88, 88);
   background-color: #FFF;

}

* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.s1 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s3 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s4 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s5 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}
.s6 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s7 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 28pt;
}

.s8 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s9 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s10 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
    vertical-align: 2pt;
}

.s11 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s12 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s13 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s14 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.h4,
h4 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s15 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s16 {
    color: black;
    font-family: Wingdings;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s17 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s18 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s19 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.p,
p {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 0pt;
}

.s20 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s21 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s22 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s23 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s24 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 14pt;
}

.s25 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 14pt;
}

.s26 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s27 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.s28 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s29 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

h1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 28pt;
}

.s30 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.s31 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.s32 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s33 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s34 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 8pt;
}

.s35 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 8pt;
}

.s36 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s37 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s38 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s39 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s40 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s41 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s42 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s43 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s44 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s45 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.s46 {
    color: black;
    font-family: "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.s47 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.s48 {
    color: black;
    font-family: Wingdings;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s49 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s50 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 8.5pt;
}

.s51 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s52 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s53 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    vertical-align: 7pt;
}

.s54 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s55 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s56 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s58 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s59 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s60 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s61 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s62 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s63 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s64 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.s65 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8.5pt;
}

.s66 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 11pt;
}

.s67 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 11pt;
}

.s68 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 11pt;
}

.s69 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.h3 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.s71 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 12pt;
}

.s72 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s73 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.h2,
h2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s74 {
    color: black;
    font-family: Symbol, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s75 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16pt;
}

.s76 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 42pt;
}

.s77 {
    color: #FFF;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 17pt;
}

.s78 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s79 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 8pt;
}

.s80 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 8.5pt;
}

.s81 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s82 {
    color: black;
    font-family: Symbol, serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s83 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s84 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10.5pt;
}

.s85 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s87 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}

.s88 {
    color: black;
    font-family: MingLiU, monospace;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s89 {
    color: black;
    font-family: "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.a {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s90 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s91 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
    counter-reset: c1 2;
}

#l1>li>*:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal)" ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

#l1>li:first-child>*:first-child:before {
    counter-increment: c1 0;
}

li {
    display: block;
}

#l2 {
    padding-left: 0pt;
    counter-reset: d1 2;
}

#l2>li>*:first-child:before {
    counter-increment: d1;
    content: counter(d1, upper-latin)". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

#l2>li:first-child>*:first-child:before {
    counter-increment: d1 0;
}

#l3 {
    padding-left: 0pt;
}

#l3>li>*:first-child:before {
    content: "- ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

#l4 {
    padding-left: 0pt;
    counter-reset: d2 1;
}

#l4>li>*:first-child:before {
    counter-increment: d2;
    content: counter(d2, decimal)". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

#l4>li:first-child>*:first-child:before {
    counter-increment: d2 0;
}

#l5 {
    padding-left: 0pt;
    counter-reset: d3 1;
}

#l5>li>*:first-child:before {
    counter-increment: d3;
    content: "(" counter(d3, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l5>li:first-child>*:first-child:before {
    counter-increment: d3 0;
}

#l6 {
    padding-left: 0pt;
    counter-reset: f1 2;
}

#l6>li>*:first-child:before {
    counter-increment: f1;
    content: "(" counter(f1, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l6>li:first-child>*:first-child:before {
    counter-increment: f1 0;
}

#l7 {
    padding-left: 0pt;
    counter-reset: g1 1;
}

#l7>li>*:first-child:before {
    counter-increment: g1;
    content: "(" counter(g1, lower-roman)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l7>li:first-child>*:first-child:before {
    counter-increment: g1 0;
}

#l8 {
    padding-left: 0pt;
    counter-reset: h1 2;
}

#l8>li>*:first-child:before {
    counter-increment: h1;
    content: "(" counter(h1, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l8>li:first-child>*:first-child:before {
    counter-increment: h1 0;
}

#l9 {
    padding-left: 0pt;
    counter-reset: i1 2;
}

#l9>li>*:first-child:before {
    counter-increment: i1;
    content: "(" counter(i1, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l9>li:first-child>*:first-child:before {
    counter-increment: i1 0;
}

li {
    display: block;
}

#l10 {
    padding-left: 0pt;
    counter-reset: j1 1;
}

#l10>li>*:first-child:before {
    counter-increment: j1;
    content: counter(j1, decimal)". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

#l10>li:first-child>*:first-child:before {
    counter-increment: j1 0;
}

#l11 {
    padding-left: 0pt;
    counter-reset: j2 1;
}

#l11>li>*:first-child:before {
    counter-increment: j2;
    content: "(" counter(j2, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l11>li:first-child>*:first-child:before {
    counter-increment: j2 0;
}

#l12 {
    padding-left: 0pt;
    counter-reset: k1 2;
}

#l12>li>*:first-child:before {
    counter-increment: k1;
    content: "(" counter(k1, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l12>li:first-child>*:first-child:before {
    counter-increment: k1 0;
}

#l13 {
    padding-left: 0pt;
    counter-reset: l1 1;
}

#l13>li>*:first-child:before {
    counter-increment: l1;
    content: "(" counter(l1, lower-roman)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l13>li:first-child>*:first-child:before {
    counter-increment: l1 0;
}

#l14 {
    padding-left: 0pt;
    counter-reset: m1 2;
}

#l14>li>*:first-child:before {
    counter-increment: m1;
    content: "(" counter(m1, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l14>li:first-child>*:first-child:before {
    counter-increment: m1 0;
}

#l15 {
    padding-left: 0pt;
    counter-reset: n1 2;
}

#l15>li>*:first-child:before {
    counter-increment: n1;
    content: "(" counter(n1, lower-latin)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

#l15>li:first-child>*:first-child:before {
    counter-increment: n1 0;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
}
